@model  dondEducar.ViewModel.EstablecimientoViewModel

<script src="http://servicios.usig.buenosaires.gov.ar/usig-js/3.0/usig.core.min.js" type="text/javascript"></script>
<script src="http://servicios.usig.buenosaires.gov.ar/usig-js/3.0/usig.FotosParcela.min.js" type="text/javascript"></script>
<script src="http://servicios.usig.buenosaires.gov.ar/usig-js/3.0/usig.GeoCoder.min.js" type="text/javascript"></script>

<div class="row">
<div id="zen-intro" class="col-xs-6 col-md-4">

    <aside role="complementary" class="sidebar selected col-xs-6">
        <div id="categoria-seleccionada" class="design-selection">
            <h3 class="select"> Nivel Educativo </h3>
            <nav role="navigation">
                <ul>
                    <li>
                        <a href="#"> @Model.NivelEducaivo </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="design-selection">
            <h3 class="select hidden">Filtros</h3>
        </div>
          @foreach(var categoria in Model.Categorias)
        {
            <div id="@categoria.Nombre-Filtrada" class="design-selection categoriaFiltrada hidden">
                <h3 class="select">@categoria.Vista</h3>
                <nav role="navigation">
                    <ul>
                        @foreach(var tag in categoria.Tags)
                        {
                            <li class="tag hidden">
                                <a id="@tag.Valor-Filtrado"  href="#" onclick="DesSeleccionarTag(this)">@tag.Vista</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        }
    </aside>

    <aside role="complementary" class="sidebar options col-xs-6">
        @foreach(var categoria in Model.Categorias)
        {
            <div id="@categoria.Nombre" class="design-selection categoria">
                <h3 class="select">@categoria.Vista</h3>
                <nav role="navigation">
                    <ul>
                        @foreach(var tag in categoria.Tags)
                        {
                            <li class="tag">
                                <a id="@tag.Valor" href="#" onclick="SeleccionarTag(this)">@tag.Vista</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        }
    </aside>
 </div>
   
    <div role="main" id="zen-supporting" class="main col-xs-12 col-md-8">
        <div role="article" id="zen-explanation" class="explanation">
            <h3>So What is This About?</h3>
            @* grid *@
            <div id="grid" class="establecimientos">
            </div>
            <div id="pager" class="paginas"></div> 
            @* /grid *@
        </div>
    </div>
</div>

<script type="text/javascript">
       
    var columnId = 8;
    var geoCoder = null;
    
    function SeleccionarTag(anchor) {
        var anchorId = $(anchor).attr('id');
        var categoria = $(anchor).closest('.categoria');
        var categoriaId = categoria.attr('id');
        $(categoria).addClass('hidden');

        var categoriaFiltrada = $('#' + categoriaId + '-Filtrada');
        categoriaFiltrada.removeClass('hidden');
        var tag = $('#' + anchorId + '-Filtrado').closest('.tag');
        tag.removeClass('hidden');
    };

    function DesSeleccionarTag(anchorFiltrado) {
        var tag = $(anchorFiltrado).closest('.tag');
        tag.addClass('hidden');
        var categoriaFiltrada = $(anchorFiltrado).closest('.categoriaFiltrada');
        var categoriaFiltradaId = categoriaFiltrada.attr('id');
        categoriaFiltrada.addClass('hidden');

        var categoria = $('#' + categoriaFiltradaId.replace('-Filtrada', ''));
        $(categoria).removeClass('hidden');
    };
    
    function onLoadFotos() {	
        /*fotosParcela.setFechaFoto($('.fecha-foto'));
        if (fotosParcela.numFotos() > 1) {
            $('div.foto-recorrido').show();
        } else {
            $('div.foto-recorrido').hide();
        }			
        */
    }
    
    function onReverseGeoCoding(data) {
        var fotosParcela = new usig.FotosParcela(data.parcela, {maxHeight : 170, maxWidth : 170, onLoad: onLoadFotos});
        fotosParcela.cargarFoto($("#" + establecimiento.Longitud + establecimiento.Latitud));
    }

    function onReverseGeoCodingError(e) {
        usig.debug('Se produjo un error con el geocoder inverso.');
    };

    function CambioDePagina(numeroDePagina) {
        if (EDUCAR.Grids.PaginaActual == numeroDePagina) {
            return;
        }
        var tope = 0;
        if (EDUCAR.Grids.TotalDePaginas == numeroDePagina) {
            tope = EDUCAR.Grids.TotalDeFilas % EDUCAR.Grids.TamañoDePagina;
        } else {
            tope = EDUCAR.Grids.TamañoDePagina;
        }
        var ul = document.createElement("ul");
        for (var iLi = 0; iLi < tope; iLi++) {
            var indice = (EDUCAR.Grids.TamañoDePagina * (numeroDePagina - 1)) + iLi;
            var establecimiento = EDUCAR.Grids.Data[indice];
            var li = document.createElement("li");
            
            var divImagen = document.createElement("div");
            divImagen.id = establecimiento.Longitud + establecimiento.Latitud;
            divImagen.className = "mini-imagen";
            
            geoCoder.reverseGeoCoding(establecimiento.Longitud, establecimiento.Latitud, onReverseGeoCoding, onReverseGeoCodingError);
            
            var divContenido = document.createElement("div");
            
            divContenido.className = "contenido";
            var divNombre = document.createElement("div");
            divNombre.className = "nombre";
            divNombre.innerHTML = establecimiento.Nombre;
            divContenido.appendChild(divNombre);
         
            var spanGestion = document.createElement("span");
            spanGestion.className = "gestion";
            spanGestion.innerHTML = establecimiento.Gestion.Vista;
            divContenido.appendChild(spanGestion);
            
            if(establecimiento.Titulo != null) {
                var spanTitulo = document.createElement("span");
                spanTitulo.className = "titulo";
                spanTitulo.innerHTML = establecimiento.Titulo.Vista;
                divContenido.appendChild(spanTitulo);
            }

            var nivelEducativo = '';
            for (var iNivel = 0; iNivel < establecimiento.NivelEducativo.length; iNivel++) {
                if(iNivel > 0) {
                    nivelEducativo += ' | ';
                }
                nivelEducativo += establecimiento.NivelEducativo[iNivel].Vista;
            }
            var spanNivel = document.createElement("span");
            spanNivel.className = "nivel-educativo";
            spanNivel.innerHTML = nivelEducativo;
            divContenido.appendChild(spanNivel);
            
            var tipoDeEstablecimiento = '';
            for (var iTipoEstablecimiento = 0; iTipoEstablecimiento < establecimiento.TipoDeEstablecimiento.length; iTipoEstablecimiento++) {
                if(iTipoEstablecimiento > 0) {
                    nivelEducativo += ' | ';
                }
                tipoDeEstablecimiento += establecimiento.TipoDeEstablecimiento[iTipoEstablecimiento].Vista;
            }
            var spanTipoDeEstablecimiento = document.createElement("span");
            spanTipoDeEstablecimiento.className = "tipo-establecimiento";
            spanTipoDeEstablecimiento.innerHTML = tipoDeEstablecimiento;
            divContenido.appendChild(spanTipoDeEstablecimiento);
            
            var divDireccion = document.createElement("div");
            divDireccion.className = "direccion";
            divDireccion.innerHTML = establecimiento.Direccion;
            
            li.appendChild(divImagen);
            li.appendChild(divContenido);
            li.appendChild(divDireccion);
         
            ul.appendChild(li);
        }

        $("#grid").append(ul);
        
        var paginaAnterior = EDUCAR.Grids.PaginaActual;
        EDUCAR.Grids.PaginaActual = numeroDePagina;
        $("#pagina-" + paginaAnterior).removeClass("selected");
        $("#pagina-" + numeroDePagina).addClass("selected");

    };

    $(document).ready(function () {
        geoCoder = new usig.GeoCoder();
        EDUCAR.Grids.Data = @Html.Raw(Model.JsonEstablecimientos);
        EDUCAR.Grids.TotalDeFilas = EDUCAR.Grids.Data.length;
        EDUCAR.Grids.TotalDePaginas = EDUCAR.Grids.TotalDeFilas / EDUCAR.Grids.TamañoDePagina;

        var paginas = '';
        for (var iPag = 1; iPag <= EDUCAR.Grids.TotalDePaginas; iPag++) {
            paginas += '<a id="pagina-'+ iPag +'" href="#" onClick="CambioDePagina(' + iPag + ')">'+ iPag +'<a>';
        }
        $("#pager").html(paginas);

        CambioDePagina(1);
    });
</script>