@model  dondEducar.ViewModel.EstablecimientoViewModel

<div class="row">
<div id="zen-intro" class="col-xs-6 col-md-4">

    <aside role="complementary" class="sidebar selected col-xs-6">
        <div id="categoria-seleccionada" class="design-selection">
            <h3 class="select"> Nivel Educativo </h3>
            <nav role="navigation">
                <ul>
                    <li>
                        <a href="#"> @Model.NivelEducaivo </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="design-selection">
            <h3 class="select hidden">Filtros</h3>
        </div>
          @foreach(var categoria in Model.Categorias)
        {
            <div id="@categoria.Nombre-Filtrada" class="design-selection categoriaFiltrada hidden">
                <h3 class="select">@categoria.Vista</h3>
                <nav role="navigation">
                    <ul>
                        @foreach(var tag in categoria.Tags)
                        {
                            <li class="tag hidden">
                                <a id="@tag.Valor-Filtrado"  href="#" onclick="DesSeleccionarTag(this)">@tag.Vista</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        }
    </aside>

    <aside role="complementary" class="sidebar options col-xs-6">
        @foreach(var categoria in Model.Categorias)
        {
            <div id="@categoria.Nombre" class="design-selection categoria">
                <h3 class="select">@categoria.Vista</h3>
                <nav role="navigation">
                    <ul>
                        @foreach(var tag in categoria.Tags)
                        {
                            <li class="tag">
                                <a id="@tag.Valor" href="#" onclick="SeleccionarTag(this)">@tag.Vista</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        }
    </aside>
 </div>
   
<div role="main" id="zen-supporting" class="main col-xs-12 col-md-8">
    <div role="article" id="zen-explanation" class="explanation">
        <h3>So What is This About?</h3>
        @* grid *@
        <div id="gridEscuelas"></div>
        <div id="pager"></div> 
        @* /grid *@
    </div>
</div>
</div>

<script type="text/javascript">
    
    function SeleccionarTag(anchor) {
        var anchorId = $(anchor).attr('id');
        var categoria = $(anchor).closest('.categoria');
        var categoriaId = categoria.attr('id');
        $(categoria).addClass('hidden');

        var categoriaFiltrada = $('#' + categoriaId + '-Filtrada');
        categoriaFiltrada.removeClass('hidden');
        var tag = $('#' + anchorId + '-Filtrado').closest('.tag');
        tag.removeClass('hidden');
    };

    function DesSeleccionarTag(anchorFiltrado) {
        var tag = $(anchorFiltrado).closest('.tag');
        tag.addClass('hidden');
        var categoriaFiltrada = $(anchorFiltrado).closest('.categoriaFiltrada');
        var categoriaFiltradaId = categoriaFiltrada.attr('id');
        categoriaFiltrada.addClass('hidden');

        var categoria = $('#' + categoriaFiltradaId.replace('-Filtrada', ''));
        $(categoria).removeClass('hidden');
    };

    $(document).ready(function () {

        var data = @Html.Raw(Model.JsonEstablecimientos);
        var dataView = new Slick.Data.DataView();
        dataView.setPagingOptions({
            pageSize: 25,
        });

        var grid = new Slick.Grid("#gridEscuelas", data, EDUCAR.Grids.ColumnasEscuelas, EDUCAR.Grids.SlickGridOptions);

        var pager = new Slick.Controls.Pager(dataView, grid, $("#pager"));
      
    });
</script>