<div class="container">
    <div class="row">
        <div class="page-header">
            <h1>dondEducar.com</h1>
        </div>
        <p class="lead center">Elegí el nivel educativo y descubrí la oferta educativa de cada nivel.</p>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <a href='@Url.Action("Establecimientos", new { nivelEducativo = "Inicial" })'>
                            <img style="width: 400px; height: 300px;" src='@Url.Content("Content/images/botonInicial.png")' alt="Nivel Inicial" >
                        </a>
                    </div>
                    <div class="row">
                        <a href='@Url.Action("Establecimientos", new { nivelEducativo = "Secundario" })'>
                            <img style="width: 400px; height: 300px;" src='@Url.Content("Content/images/botonSecundario.png")' alt="Nivel Secundario">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href='@Url.Action("Establecimientos", new { nivelEducativo = "Primario" })'>
                        <img style="width: 400px; height: 600px;" src='@Url.Content("Content/images/botonPrimario.png")' alt="Nivel Primario">
                    </a>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <a href='@Url.Action("Establecimientos", new { nivelEducativo = "Otros" })'>
                            <img style="width: 400px; height: 300px;" src='@Url.Content("Content/images/botonOtros.png")' alt="Otros tipos de Establecimientos">
                        </a>
                    </div>
                    <div class="row">
                        <a href='@Url.Action("Establecimientos", new { nivelEducativo = "Superior" })'>
                            <img style="width: 400px; height: 300px;" src='@Url.Content("Content/images/botonSuperior.png")' alt="Nivel Superior">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12"></div>
        <a href='@Url.Action("Importar", "Importar")' class="btn btn-primary">Importar Datos</a>
    </div>
</div>