@using FourSquare.SharpSquare.Core
<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="msvalidate.01" content="E60BA34DC26DA83C5074EF191C46E7E4" />
    <title>@ViewBag.Title - dondEducar.com.ar</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")    
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/MarkerCluster.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/MarkerCluster.Default.css")" />
    @*@Styles.Render("~/Content/leaflet") *@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/underscore")
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    @Scripts.Render("~/bundles/leaflet")
    @Scripts.Render("~/bundles/educar")
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src='@Url.Content("~/Content/images/logo-16x16.png")' alt="" >
                <strong>dondeducar</strong>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                @*@if (String.IsNullOrWhiteSpace((string)Session["AccessToken"]))
                {
                    <li><a href="@Session["AutenticateUrl"]"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Iniciar sesión</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("CerrarSesion","Home")"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Cerrar sesión</a></li>
                }*@
                @*<li><a href="@Url.Action("Contacto", "Home")"><span class="glyphicon glyphicon-earphone"></span>&nbsp;Contacto</a></li>*@
                <li><a href="@Url.Action("Informacion", "Home")"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;Información</a></li>
                <li><a href="@Url.Action("Donaciones", "Home")"><span class="glyphicon glyphicon-heart-empty"></span>&nbsp;Donaciones</a></li>
            </ul>
        </div>
    </nav>

    <div class="body-wrapper">
        <div id="body" class="content-wrapper">
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Iniciar Sesión</h4>
                        </div>
                        <div id="myModal-body" class="modal-body">
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

            @RenderBody()

        </div>
        <div class="push"></div>
    </div>
    <div id="footer">
        <div class="container">
           @* <div class="pull-right">
                <h3 style="color:whitesmoke;">Hombre, pueblo, Nación, Estado, todo... todo está en los humildes bancos de la escuela.</h3>
                <span class="label label-primary pull-right">Domingo Faustino Sarmiento</span>
            </div>*@

            <p class="text-muted center"><strong>dondeducar</strong> - BsApps - @DateTime.Now.Year.</p>
        </div>
    </div>
    <script type="text/javascript">

        //Mis cosas
        $(document).ready(function () {

            $("#login").click(function (event) {
                event.preventDefault();
                $.ajax({
                    type: "GET",
                    url: event.target.href,
                    dataType: "html",
                    async: false,
                    cache: false
                })
                    .done(function (response) {
                        $('#myModal-body').html(response);
                        $('#myModal').modal('show');
                    });

            });

        });
    </script>

</body>

</html>
