@using dondEducar.Helpers
@model FourSquare.SharpSquare.Entities.Venue


<div class="venueDetail">
    <div class="wideColumn">
        @*<img  class="separator" data-retina-url="https://ss0.4sqi.net/img/footer-top@2x-ef6ccfa1b4ce50e9257b922d1c8935ac.png" alt="" src="https://ss1.4sqi.net/img/footer-top-fa1353033c43b8d9c1ea995d2b66371e.png">*@
        @*<div class="photosSection">
            <ul class="photos">
                <li data-photoid="4e7bc1fa62e1b601280a939c" class="photo photoWithContent">
                    <img width="152" height="152" data-retina-url="https://irs3.4sqi.net/img/general/304x304/MS50PEC5XG205QF2LEOGETX3SONWIT20FXFQMCTXKCD15PMD.jpg" alt="" photo-id="4e7bc1fa62e1b601280a939c" src="https://irs3.4sqi.net/img/general/152x152/MS50PEC5XG205QF2LEOGETX3SONWIT20FXFQMCTXKCD15PMD.jpg"></li>
                <li data-photoid="5013fbabe4b07ac9f1bb7aa9" class="photo photoWithContent">
                    <img width="152" height="152" data-retina-url="https://irs2.4sqi.net/img/general/304x304/qzAy3aC_qvio_iMBpmeotl5hbDkCYn-ljKOER9nZqvg.jpg" alt="" photo-id="5013fbabe4b07ac9f1bb7aa9" src="https://irs2.4sqi.net/img/general/152x152/qzAy3aC_qvio_iMBpmeotl5hbDkCYn-ljKOER9nZqvg.jpg"></li>
                <li data-photoid="50d23aef498ebcf923f620c0" class="photo photoWithContent">
                    <img width="152" height="152" data-retina-url="https://irs0.4sqi.net/img/general/304x304/26032853_c73mzFz1SnJrz69qmA3uRMOhvZRy6Wl_LXWYZGpQn84.jpg" alt="" photo-id="50d23aef498ebcf923f620c0" src="https://irs0.4sqi.net/img/general/152x152/26032853_c73mzFz1SnJrz69qmA3uRMOhvZRy6Wl_LXWYZGpQn84.jpg"></li>
                <li class="photo allPhotos"><a rel="nofollow" href="/v/acatraz/4b058717f964a520197f22e3/photos" class="allPhotosLink">
                    <div class="allPhotosText">
                        <img width="50" height="40" src="https://ss0.4sqi.net/img/venuepage/icon-camera-c9f36fa097153acadc23534466d1e747.png" alt=""><br>
                        Ver las 50 »</div>
                    <img width="50" height="50" data-retina-url="https://irs2.4sqi.net/img/general/100x100/4VBH5J5W4XSOOLMQ10Y2KNH1U0CT5N3FY3P0VCYCK0OJQLFU.jpg" alt="" photo-id="4ee14e190aafb73eb5db15f9" src="https://irs2.4sqi.net/img/general/50x50/4VBH5J5W4XSOOLMQ10Y2KNH1U0CT5N3FY3P0VCYCK0OJQLFU.jpg"><img width="50" height="50" data-retina-url="https://irs2.4sqi.net/img/general/100x100/qy3Rb_ID_pCMEG5URcV6cHsaDeUhGSwQQ8OdHUmwmRA.jpg" alt="" photo-id="4fb846ede4b04abe1597c367" src="https://irs2.4sqi.net/img/general/50x50/qy3Rb_ID_pCMEG5URcV6cHsaDeUhGSwQQ8OdHUmwmRA.jpg"><img width="50" height="50" data-retina-url="https://irs2.4sqi.net/img/general/100x100/8698089_XVSqsMzoizsHvIjtQihPYPOemigc3LGnSukNj4tT_tQ.jpg" alt="" photo-id="5104ad2fe4b095f21b7abd46" src="https://irs2.4sqi.net/img/general/50x50/8698089_XVSqsMzoizsHvIjtQihPYPOemigc3LGnSukNj4tT_tQ.jpg"><img width="50" height="50" data-retina-url="https://irs2.4sqi.net/img/general/100x100/8458884_3b7CutH7HtilkLozep_wR9svqskF5fs89RaEbKCLB3M.jpg" alt="" photo-id="51453422e4b042f54632dc6e" src="https://irs2.4sqi.net/img/general/50x50/8458884_3b7CutH7HtilkLozep_wR9svqskF5fs89RaEbKCLB3M.jpg"><img width="50" height="50" data-retina-url="https://irs3.4sqi.net/img/general/100x100/20377974_yrrGxQpPqIij-UN58gDU6WraukoZUN9Gyx8z-62S7tY.jpg" alt="" photo-id="522bc44411d23283d54213f7" src="https://irs3.4sqi.net/img/general/50x50/20377974_yrrGxQpPqIij-UN58gDU6WraukoZUN9Gyx8z-62S7tY.jpg"><img width="50" height="50" data-retina-url="https://irs2.4sqi.net/img/general/100x100/0MK0E0BOC1QJCFQ3UI11HLVQOIDGDI1KSNYGQ3NEWTTAGXKH.jpg" alt="" photo-id="4eed666f7ee5f45387c70dd4" src="https://irs2.4sqi.net/img/general/50x50/0MK0E0BOC1QJCFQ3UI11HLVQOIDGDI1KSNYGQ3NEWTTAGXKH.jpg"><img width="50" height="50" data-retina-url="https://irs3.4sqi.net/img/general/100x100/jn0ZTZTiF9yc_oUyvlfzhy6LzimGum0wbkwL88ppWQE.jpg" alt="" photo-id="5030c90fe4b0f9a2ddffe9b8" src="https://irs3.4sqi.net/img/general/50x50/jn0ZTZTiF9yc_oUyvlfzhy6LzimGum0wbkwL88ppWQE.jpg"><img width="50" height="50" data-retina-url="https://irs0.4sqi.net/img/general/100x100/3045594_UxXrah6fUAHtyQfpkQ5xUopviOD-OvJlYkzy6jmgz_A.jpg" alt="" photo-id="5275d42011d2f813d6c0458d" src="https://irs0.4sqi.net/img/general/50x50/3045594_UxXrah6fUAHtyQfpkQ5xUopviOD-OvJlYkzy6jmgz_A.jpg"><img width="50" height="50" data-retina-url="https://irs0.4sqi.net/img/general/100x100/13325522_uG69m8CoaxJ-cva_eyyxHfEIe1hNu6LjdHEEGMNP0Ck.jpg" alt="" photo-id="5210018011d23ab604c60783" src="https://irs0.4sqi.net/img/general/50x50/13325522_uG69m8CoaxJ-cva_eyyxHfEIe1hNu6LjdHEEGMNP0Ck.jpg"></a></li>
            </ul>
        </div>*@
        <div class="venueInfoSection ">
            @*<div class="venueHeader">
                <img class="mainIconWrapper">
                @if (Model.categories.Count > 0)
                {
                    var categoria = Model.categories.First();
                    <img width="88" height="88" data-retina-url="@categoria.icon.prefix@categoria.icon.suffix" src="@categoria.icon.prefix@categoria.icon.suffix" alt="@categoria.name"></img>
                }
            </div>
            <div class="primaryInfo">
                <h1 itemprop="name" class="venueName">@Model.name</h1>
                <div class="categories">
                    <span class="categoryLink">@String.Join(",", Model.categories)</span>
                </div>
                <a class="flagLink">Sugerir una edición</a></div>
            </div>*@
            <div class="venueAttributes">
                <div class="venueDescription">
                    @if (Model.description != null)
                    {
                        <p>Model.description</p>
                    }
                </div>
                @if (Model.url != null)
                {
                    <div class="linkBar">
                        <div class="venueLinkAttr venueWebsite">
                            <div class="linkAttrValue">

                                <a target="_blank" data-source="venue-detail" rel="nofollow" itemprop="url" class="url" href="@Model.url">@Model.url.Replace("http://", "")</a>

                            </div>
                            @*<div class="linkAttrKey">
                            <img width="16" height="16" alt="Sitio web" data-retina-url="https://ss0.4sqi.net/img/venuepage/info_website_ico@2x-1835e40bcc034ca170d9d712357fb0d7.png" src="https://ss1.4sqi.net/img/venuepage/info_website_ico-84ef47f2ef7efcb2cad59c42276ed69c.png"></div>
                        <div class="linkAttrValue"><a target="_blank" data-source="venue-detail" onmousedown="fourSq.ui.OutgoingLink.mousedown($(this), event)" data-sig="5hWhgbBuGwoDXpEXFJ38CnfDc5M=" rel="nofollow" itemprop="url" class="url" href="http://www.acatrazclub.com.ar">acatrazclub.com.ar</a></div>
                        *@
                        </div>
                    </div>
                }
                @* <div class="venueAttributesData">
                    <div class="leftColumn">
                        <div class="venueAttr ">
                            <div class="attrKey">Reservas:</div>
                            <div class="attrValue">Sí</div>
                        </div>
                    </div>
                    <div class="rightColumn">
                        <div class="venueAttr ">
                            <div class="attrKey">Formas de pago:</div>
                            <div class="attrValue">Tarjetas de crédito</div>
                        </div>
                    </div>
                </div>*@
                <div class="attrBar">
                    <div itemtype="http://schema.org/AggregateRating" itemscope="" itemprop="aggregateRating" class="leftColumn">
                        <span title="" class="venueScore neutral"><span itemprop="ratingValue">@Model.rating</span><sup>/<span itemprop="bestRating">10</span></sup></span>
                        <div class="ratingJustification">
                            <p>Rating</p>
                        </div>
                    </div>
                    <div class="rightColumn">
                        <div class="venueStat">
                            Total de likes<br />
                            <strong data-count="@Model.likes.count" class="venueStatCount">@Model.likes.count</strong>
                        </div>
                        <div class="venueStat">
                            Total de visitantes<br />
                            <strong data-count="@Model.stats.usersCount" class="venueStatCount">@Model.stats.usersCount</strong>
                        </div>
                        <div class="venueStat">
                            Total de check-ins<br />
                            <strong data-count="@Model.stats.checkinsCount" class="venueStatCount">@Model.stats.checkinsCount</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="venueActions" id="actionBar">
                <div id="likeDislikeControls" class="likeDislikeControls comboRatingButton">
                    <div id="like" title="" class="comboRatingButtonLike like @((Model.like)? "active": "")">
                        <span class="icon"></span>
                    </div>
                    <div id="dislike" title="" class="comboRatingButtonDislike dislike @((Model.dislike)? "active": "")"><span class="icon"></span></div>
                </div>
                <a href="@Model.canonicalUrl" target="_blank">Ver en <img height="20" alt="foursquare" src="@Url.Content("~/Content/foursquare/foursquare-logo.png")" /></a>
                @*<div title="" class="saveButton saveToListAction inactive">
                    <span class="buttonLeft">
                        <img width="16" height="16" data-retina-url="https://ss1.4sqi.net/img/lists/button_icon_saveribbon@2x-d809e5af932a66d1725c40dfddcc2855.png" src="https://ss0.4sqi.net/img/lists/button_icon_saveribbon-9c5999c47028ca670954422ee53e7d96.png"></span>
                    <span class="buttonRight unsaved">
                        <span class="label">Guardar</span>
                    </span>
                </div>
                <div class="shareWidget">
                    <input value="@Model.shortUrl" class="shareLink formStyle"><div title="" class="greyButton">Compartir</div>
                </div>*@
            </div>
        </div>

        <div class="tipsSections" style="position: relative;">
            <div class="addTipsSection">
                <img width="16" height="10" data-retina-url="https://ss1.4sqi.net/img/venuepage/icon-tipcarat@2x-7e425b8090106b75eaa5e38ccac6bc05.png" class="addTipCarat" alt="" src="https://ss0.4sqi.net/img/venuepage/icon-tipcarat-4dce032fec85e404a01b7c757ac85c5e.png">
                <div class="addTipBlock">
                    <a class="userImage" href="/user/71159749">
                        <img width="32" height="32" data-retina-url="https://irs1.4sqi.net/img/user/64x64/71159749-5NPS52V2TNP3CMXI" title="Pedro P." class="avatar " alt="Pedro P." src="https://irs1.4sqi.net/img/user/32x32/71159749-5NPS52V2TNP3CMXI"></a>
                    <div class="addItemArea addTipArea">
                        <span class="input-holder">
                            <textarea id="tip-input" rows="4" tabindex="1" cols="55" class="formStyle">Deja un tip para los demás...</textarea>
                            @*<span id="tip-default" class="input-default">Deja un tip para los demás...</span>*@
                        </span>
                        <span id="charCount" class="charCount"></span>
                        <p class="inputError"></p>
                        @* <div class="photoLinkButtons">
                                <form enctype="multipart/form-data" encoding="multipart/form-data" method="POST" action="/__uploadtipphoto" class="photoUploadForm">
                                    <div title="" class="photoAddButtonHolder">
                                        <div class="icon"></div>
                                        <input type="file" name="tipPhoto">
                                    </div>
                                </form>
                                <span class="addLink" title=""></span>
                            </div>*@
                    </div>
                    <div class="buttonArea">
                        <button id="shareTipButton" class="shareTipButton greenButton" tabindex="2">Publicar</button>
                    </div>
                </div>
            </div>
            <div class="tipsListSection">
                <div class="tipsSectionHeader">
                    @*<div class="filterArea">
                        <div class="sortControls">
                            Ordenar:
                            <ul class="sortOptions">
                                <li data-sort="popular" class="selected"><span class="sortLink">Populares</span></li>
                                <li data-sort="recent"><span class="sortLink">Recientes</span></li>
                            </ul>
                        </div>
                        <div class="searchControls">
                            <input placeholder="Buscar tips..." tabindex="3" class="searchInput formStyle"><div class="buttons">
                                <span class="clearQuery"></span>
                                <button tabindex="4" class="searchTips greyButton">Buscar</button>
                            </div>
                        </div>
                    </div>*@
                    <h3 class="tipCount">@Model.tips.count Tips</h3>
                </div>
                <div class="tipsSectionBody">
                    <div id="tipsContainer">
                        <ul id="tipsList">
                            @if (Model.tips != null)
                            {
                                foreach (var tip in Model.tips.groups.SelectMany(grupo => grupo.items).OrderByDescending(x=> x.createdAt))
                                {
                                    <li data-id="@tip.id" class="tip">
                                        <div class="authorImage">
                                            @*<a href="/gabmartini">*@
                                            <img width="32" height="32" data-retina-url="@(tip.user.photo.prefix)64x64@(tip.user.photo.suffix)" title="@tip.user.firstName @tip.user.lastName" class="avatar " alt="@tip.user.firstName @tip.user.lastName" src="@(tip.user.photo.prefix)32x32@(tip.user.photo.suffix)">
                                            @*</a>*@
                                        </div>
                                        <div class="tipContents">
                                            <p class="tipText">@tip.text</p>
                                            <div class="tipInfo">
                                                <span class="userName">
                                                    <a @*href="/gabmartini"*@>@tip.user.firstName @tip.user.lastName</a>
                                                </span>· <span class="tipDate">@UrlHelperExtension.FromUnixTime(tip.createdAt)</span>

                                            </div>
                                            <div class="actionButtons">
                                                @*<div class="save-button  inactive"><span class="icon"></span><span class="label">Guardar</span></div>*@
                                                <span class="likeButtonContainer @((tip.likes.groups.Any(x=> x.name == "self"))? "active": "")">
                                                    <span class="like">
                                                        <span class="link">
                                                            <span class="icon"></span>
                                                            <span class="label">Me gusta @((String.IsNullOrWhiteSpace(tip.likes.summary)) ? "" : "- " + tip.likes.summary) </span>
                                                        </span>
                                                    </span>
                                                </span>
                                                @*<span class="flagTipLink">
                                                    <span class="icon"></span>Denunciar
                                                </span>
                                                <span class="deleteTipLink">Eliminar</span>*@
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>

<script type="text/javascript">

    function LikeDislikeControl(paraActivar, paraDesactivar) {
        $("#likeDislikeControls").addClass("loading");
        var like = $("#" + paraActivar);
        var dislike = $("#" + paraDesactivar);

        var doUndo = 0;
        if (like.hasClass("active")) {
            doUndo = 0;
        } else {
            doUndo = 1;
        }

        var request = $.ajax({
            type: 'POST',
            url: 'https://api.foursquare.com/v2/venues/@Model.id/' + paraActivar,
                data: { oauth_token: '@Session["AccessToken"]', set: doUndo }
            });
        request.done(function () {
            if (like.hasClass("active")) {
                like.removeClass("active");
            } else {
                like.addClass("active");
                if (dislike.hasClass("active")) {
                    dislike.removeClass("active");
                }
            }
        });
        request.fail(function (jqXHR, textStatus) {
            alert("Request failed: " + textStatus);
        });
        request.always(function() {
            $("#likeDislikeControls").removeClass("loading");
        });
    }

    $(document).ready(function() {

        $("#like").click(function() {
            LikeDislikeControl("like", "dislike");
        });

        $("#dislike").click(function() {
            LikeDislikeControl("dislike", "like");
        });

        $("#shareTipButton").click(function () {
            $("#shareTipButton").addClass("loadingButton");
            var text = $("#tip-input").val();
            debugger 
            var request = $.ajax({
                type: 'POST',
                url: 'https://api.foursquare.com/v2/tips/add',
                data: { oauth_token: '@Session["AccessToken"]', venueId:'@Model.id', text:text }
                });
            request.done(function () {
                location.reload(true);
            });
            request.fail(function (jqXHR, textStatus) {
                $("#shareTipButton").removeClass("loadingButton");
                alert("Request failed: " + textStatus);
            });
            
        });
        
        $(".likeButtonContainer").click(function () {
            var like = $(this);
            like.addClass("loading");

            var tipId = like.closest('li.tip').attr('data-id');

            var doUndo = 0;
            if (like.hasClass("active")) {
                doUndo = 0;
            } else {
                doUndo = 1;
            }

            var request = $.ajax({
                type: 'POST',
                url: 'https://api.foursquare.com/v2/tips/'+ tipId +'/like',
            data: { oauth_token: '@Session["AccessToken"]', set: doUndo }
        });
            request.done(function () {
                if (like.hasClass("active")) {
                    like.removeClass("active");
                } else {
                    like.addClass("active");
                }
            });
            request.fail(function (jqXHR, textStatus) {
                alert("Request failed: " + textStatus);
            });
            request.always(function () {
                like.removeClass("loading");
            });
        });
        

    });
</script>



